

<nav class="navbar navbar-default navbar-fixed-bottom mccPlayerbackground hidden" id="swtyChinaPlayer">
    <div class="container">
        <div id="audio_container" class="">
            <div>
                <audio id="player" data-id="0" data-order="forward" style="width:100%;margin-top:10px;" controls="" src=""></audio>
            </div>
            <p id="player_title" style="color:#ffffff;">当前节目的内容摘要 </p>
        </div>
    </div>
</nav>