
@{ 
    ViewBag.Title = "山外天园";
    Layout = "~/Views/Shared/_LayoutSwtychian.cshtml";
}

<div class="container main">
    <div class="row">
        <div class="col-md-4">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading mccPanelHeading">
                        <h4 class="panel-title">
                            <i class="fa fa-reorder"></i><a id="itemsNavigationYear" data-toggle="collapse" data-parent="#accordion" href="#collapseyear" class="mccYear">
                                全部节目
                            </a>
                        </h4>
                    </div>
                    <div id="collapseyear" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="design" id="cate1">
                                <div class="navto-nav"><i class="fa fa-external-link"></i>  按查经类</div>
                            </div>

                            <div class="design" id="cate2">
                                <div class="navto-nav"><i class="fa fa-external-link"></i>  按主题</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 padding-left-0 album-list">
            <div class="item-title row ">
                <h2 id="category1"><i class="fa fa-list"></i>按查经类</h2>
                <div class="col-sm-3 padding-left-0"><p class="album-item">节目时间节目时间节目时间节目时间节目时间</p></div>
                <div class="col-sm-3 padding-left-0"><p class="album-item">收听收听收听收听收听收听</p></div>
                <div class="col-sm-3 padding-left-0"><p class="album-item">下载下载下载下载下载下载下载下载</p></div>
                <div class="col-sm-3 padding-left-0"><p class="album-item">下dgdsf载下载sdfsgfdsfg</p></div>
            </div>
            
            <div class="item-title row">
                <h2 id="category1"><i class="fa fa-list"></i>按查经类</h2>
                <div class="col-sm-3 padding-left-0"><p class="album-item">121212121212121212121212121223</p></div>
                <div class="col-sm-3 padding-left-0"><p class="album-item">121212121212121212121212121223</p></div>
                <div class="col-sm-3 padding-left-0"><p class="album-item">121212121212121212121212121223</p></div>
                <div class="col-sm-3 padding-left-0"><p class="album-item">121212121212121212121212121223</p></div>
            </div>
        </div>        
    </div>
</div>